.top-content
  .inner-bg
    .container
      .row
        .col-sm-4.col-sm-offset-4.form-box
          = image_tag("jeezam_pos.png", alt: "logo")
      .row
        .col-sm-4.col-sm-offset-4.form-box
          .form-container
            = form_for(resource, as: resource_name, url: session_path(resource_name), class: "login-form") do |f|
              .form-group
                = f.email_field :email, autofocus: true, placeholder: "Email"
              .form-group
                = f.password_field :password, autocomplete: "off", placeholder: "Password"
              = f.button "Log in", class: "btn btn-lg"
            / = render "devise/shared/links"
      / .row
      /   .col-sm-8.col-sm-offset-2.text
      /     h1
      /       strong
      /         | Bootstrap
      /       |  Login Form
      /     .description
      /       p
      /         |  This is a free responsive login form made with Bootstrap. Download it on 
      /         a[href="http://azmind.com"]
      /           strong
      /             | AZMIND
      /         | , customize and use it as you like! 
      / .row
      /   .col-sm-6.col-sm-offset-3.form-box
      /     .form-top
      /       .form-top-left
      /         h3
      /           | Login to our site
      /         p
      /           | Enter your username and password to log on:
      /       .form-top-right
      /         i.fa.fa-key
      /     .form-bottom
      /       form.login-form[role="form" action="" method="post"]
      /         .form-group
      /           label.sr-only[for="form-username"]
      /             | Username
      /           input#form-username.form-username.form-control[type="text" name="form-username" placeholder="Username..."]
      /         .form-group
      /           label.sr-only[for="form-password"]
      /             | Password
      /           input#form-password.form-password.form-control[type="password" name="form-password" placeholder="Password..."]
      /         button.btn[type="submit"]
      /           | Sign in!
    / h2
    /   | Log in
    / = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    /   .field
    /     = f.label :email
    /     br
    /     = f.email_field :email, autofocus: true
    /   .field
    /     = f.label :password
    /     br
    /     = f.password_field :password, autocomplete: "off"
    /   - if devise_mapping.rememberable?
    /     .field
    /       = f.check_box :remember_me
    /       = f.label :remember_me
    /   .actions
    /     = f.submit "Log in"
    / = render "devise/shared/links"
